/*====================================== INDEX ADMIN======================================== */
.banner {
  background: black;
  padding: 10px;
  color: white;
  text-align: center;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
i {
  font-size: 14px;
  color: white;
}
.btnModif {
  font-family: "Work Sans";
  font-size: 14px;
  color: black;
  margin-left: 30px;
  font-weight: normal;
}
.btnModif:hover {
  cursor: pointer;
}

.btnModif i {
  font-size: 14px;
  color: black;
  font-weight: 600;
}
/* ==================================MODALE========================================*/

.fondModale {
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  justify-content: center;
  align-items: flex-start;
}
.modale {
  width: 500px;
  background: white;
  position: absolute;
  text-align: center;
  padding: 50px 100px 20px;
  border-radius: 10px;
  margin-top: 100px;
}
.modale h4 {
  font-weight: bold;
  margin-bottom: 50px;
  font-size: 20px;
}
.galleryModale {
  width: 400px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px 5px;
  margin: 0 auto;
}
.imgModale {
  height: 112px;
  width: 76px;
}

.trashIcon {
  position: absolute;
  font-size: 14px;
  color: white;
  background: rgba(0, 0, 0, 0.6);
  padding: 5px;
  cursor: pointer;
}
.galleryModale figure {
  display: flex;
  justify-content: center;
}
hr {
  width: 100%;
  height: 1px;
  background-color: rgb(186, 186, 186);
  margin-top: 60px;
}
.btnAjoutPhoto {
  background: rgba(29, 97, 84, 1);
  width: 237px;
  height: 36px;
  border-radius: 60px;
  color: white;
  margin: 40px;
}
.btnCloseform:hover,
.btnCloseModale:hover,
.btnAjoutPhoto:hover {
  cursor: pointer;
}
.btnCloseModale {
  position: absolute;
  top: 10px;
  right: 20px;
}
.btnCloseform {
  position: absolute;
  top: 10px;
  left: 20px;
}
.formulairAjout {
  display: flex;
  flex-direction: column;
  text-align: left;
}
.formulairAjout button {
  margin: 0 auto;
  background: rgb(161, 161, 161);
  border-radius: 50px;
  color: white;
  padding: 10px 50px;
  cursor: pointer;
  width: 220px;
  transform: translateY(64px);
}
.zoneAjout {
  background: rgba(232, 241, 246, 1);
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 20px;
}
.logoPrev {
  color: rgb(193, 193, 193);
  font-size: 40px;
  margin: 10px;
}
.formulairAjout label {
  margin: 10px 0;
}
.btnajout {
  background: rgba(203, 214, 220, 1);
  border-radius: 50px;
  width: 173px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(117, 117, 117);
}
#preview {
  height: 170px;
}
.trashBis {
  position: absolute;
  right: auto;
  transform: translateY(-70px);
  font-size: 15px;
  color: white;
  display: none;
}
.trashBis:hover {
  cursor: pointer;
  color: brown;
}
